<form action="/user/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add To Cart</button>
    <input type="hidden" name="taskId" value="<%= task._id %>">
</form>