<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= pageTitle %></title>
<link rel=icon href=/res/favicon.jpg>
<link rel="stylesheet" href="/css/main.css" media="all">
<link rel="stylesheet" href="/css/forms.css" media="all">
<link rel="stylesheet" href="/css/task.css" media="all">
<link rel="stylesheet" href="/css/auth.css" media="all">
<link rel="stylesheet" href="/css/cart.css" media="all">
<link rel="stylesheet" href="/css/orders.css" media="all">
<link rel="stylesheet" href="/css/invoice.css" media="all">