.archive {
  list-style: none;
  padding: 0;
  margin: 0;
}

.archive__task h1 {
    margin: 0;
    font-size: 1rem;
}

.archive__task {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
}

.archive__tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.archive__tasks-task {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #012e42;
  color: #0d3f8a;
}
