@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: rgb(201, 201, 211);
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  width: 100%;
  height: 20rem;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00040e;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__task-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__task {
  margin: 0 1rem;
  padding: 0;
}

#timedisplay {
  margin: 0 1rem;
  padding: 0;
  color: #cbcfe991;
}

.main-header__task a,
.main-header__task button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.842);
  cursor: pointer;
}

.main-header__task a:hover,
.main-header__task button:hover {
  color: #ffeb90;
}

.main-header__task a:active,
.main-header__task a.active,
.main-header__task button:active {
  color: #ffd13b;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__task-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__task {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__task a,
.mobile-nav__task button {
  font: inherit;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__task a:active,
.mobile-nav__task a:hover,
.mobile-nav__task a.active,
.mobile-nav__task button:hover,
.mobile-nav__task button:active {
  background: #b4a304;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #695100;
  color: #bd9103;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #c7a200;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #0930b1;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b1bde2;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #f1a80bd8;
  padding: 0.5rem;
  border: 1px solid #b68c05;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #f0b106;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }

}
