/* TASK */

.taskTitle {
    font-size: 1.2rem;
    text-align: center;
}

.taskTotalTime {
    font-size: 1.1rem;
    text-align: center;
}

.taskDescription {
    text-align: center;
}

.taskButton {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-align: center;
  font: inherit;
  border: 2px solid #695100;
  color: #bd9103;
  background: rgb(228, 221, 206);
  cursor: pointer;
  border-radius: 6px;
  width: 160px;
}

.taskButton:hover,
.taskButton:active {
  background-color: #c7a200;
  color: white;
}

/* PUNCH BUTTONS */

.punchInButton {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-align: center;
  font: inherit;
  border: 2px solid #695100;
  color: #ece5cd;
  background: rgb(190, 3, 3);
  cursor: pointer;
  border-radius: 6px;
  width: 160px;
}

.punchInButton:hover,
.punchInButton:active {
  background: rgb(145, 12, 12);
  color: white;
}

.punchOutButton {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-align: center;
  font: inherit;
  border: 2px solid #695100;
  color: #ece5cd;
  background: rgb(3, 190, 3);
  cursor: pointer;
  border-radius: 6px;
  width: 160px;
}

.punchOutButton:hover,
.punchOutButton:active {
  background: rgb(12, 145, 12);
  color: white;
}

/* TASK LIST */

.tasklistContainer_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #c6cada;
  margin: auto;
  padding: 0;
  border-radius: 6px;
  width: 80%;
}

.tasklist_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #2c2d31;
  color: #ebecf5;
  border: 2px solid #695100;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.26);
  margin: 8px;
  padding: 6px;
  border-radius: 6px;
  width: 98%;
}

.taskinfo_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.taskbuttons_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tasklist_ul {
  list-style-type: none !important;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 4px;
}

.tasklist_li {
  float: left !important;
  margin: auto;
  padding: 4px;
}

.taskFormContainer_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #40475f;
  color: white;
  margin: auto;
  padding: 16px;
  border-radius: 6px;
  width: 80%;
}

.taskform {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}
