.task-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.task-task {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.task__title {
    font-size: 1.2rem;
    text-align: center;
}

.task__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.task__description {
    text-align: center;
}