.timetracker_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #5f616b;
  color: #ebecf5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 10px;
  padding: 0;
}

.timetracker_ul {
  list-style-type: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.timetracker_li {
  float: left !important;
  margin: 0;
  padding-left: 5px;
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
}
