<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/headInclude.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigationInclude.ejs') %>
    <main>
      <div class="card__content">
        <h1>Welcome!</h1>
      </div>
    </main>
  </body>
  <%- include('../includes/javascriptInclude.ejs') %>
</html>
