<!DOCTYPE html>
<html lang="en">
    <headInclude>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <h1>Resource Not Found</h1>
    </body>
</html>